https://www.acmicpc.net/step/3

- 2739번 구구단

In [ ]:
n = int(input())
for i in range(1,10):
  print(n, "*", i, "=", n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

- 10950번 A+B - 3

In [ ]:
n = int(input())
for i in range(n):
  a, b = map(int, input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

- 8393번 합

In [ ]:
n = int(input())
sum = 0
for i in range(n+1):
  sum+=i
print(sum)

3
6

- 25304번 영수증

In [ ]:
total = int(input())
n = int(input())
sum = 0
for i in range(n):
  cost, count = map(int, input().split())
  sum+=cost*count
print("Yes") if (total==sum) else print("No")

5000
2
1000 2
2000 3
No

- 15552번 빠른 A+B

> sys.stdin.readline()

- 반복문으로 여러줄 입력받는 상황에서 input()대신 sys.stdin.readline()을 사용해야 시간초과가 발생하지 않음.

- 한 줄 단위로 입력받음. 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋음.

In [ ]:
import sys
n = int(input())
for i in range(n):
  a,b = map(int,sys.stdin.readline().split())
  print(a+b)

In [ ]:
for i in range(5):
  a,b = map(int,sys.stdin.readline().split())
  print(a+b)

- 11021번 A+B-7

In [ ]:
n = int(input())
for i in range(n):
  a,b = map(int, input().split())
  print("Case #{}: {}".format((i+1),(a+b)))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

- 11022번 A+B-8

In [ ]:
n = int(input())
for i in range(n):
  a,b = map(int, input().split())
  print("Case #{}: {} + {} = {}".format((i+1),a,b,a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

- 2438번 별 찍기-1

In [ ]:
n = int(input())
for i in range(n):
  print("*"*(i+1))

5
*
**
***
****
*****

- 2439번 별 찍기-2

In [ ]:
n = int(input())
for i in range(n):
  print(" "*(n-i-1)+"*"*(i+1))

5
    *
   **
  ***
 ****
*****

- 10871번 X보다 작은 수

In [4]:
import sys
n, x = map(int, input().split())
small = list(map(int, input().split()))
for val in small:
  if val < x:
    print(val,end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1423

- 10952번 A+B - 5

In [5]:
while(1):
  a,b = map(int, input().split())
  if (a==b==0):
    break
  else:
    print(a+b)

1 1
2
2 3
5
4 5
9
0 0

- 10951번 A+B - 4

> try: except:

In [7]:
while(1):
  try:
    a,b = map(int, input().split())
    print(a+b)
  except:
    break

1 1
2
2 3
5

- 1110번 더하기 사이클

In [20]:
init = int(input())
n = init
count = 0
while(1):
  n = (n%10)*10 + ((n//10)+(n%10))%10
  count+=1
  if (n==init):
    print(count)
    break

55
3