<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/04_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/6

- 10807번 개수 세기

총 N개의 정수가 주어졌을 때, 정수 v가 몇 개인지 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
count = 0;
list1 = map(int, input().split())
find = int(input())
for i in list1:
  if i==find:
    count += 1;
print(count)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

- 10871번 X보다 작은 수

정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [ ]:
import sys
n, x = map(int, input().split())
small = map(int, input().split())
small = list(small)
for val in small:
  if val < x:
    print(val,end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

- 10818번 최소, 최대

첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

In [ ]:
n = int(input())
list2 = list(map(int, input().split()))
min = list2[0]
max = list2[0]
for i in range(n):
  if list2[i] < min:
    min = list2[i]
  if list2[i] > max:
    max = list2[i]
print(min, max)

5
20 10 35 30 7
7 35

In [ ]:
n = int(input())
list2 = list(map(int, input().split()))
print(min(list2), max(list2))

5
20 10 35 30 7
7 35

- 2562번 최댓값

9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [ ]:
list3 = []
for i in range(9):
  n = int(input())
  list3.append(n)
print(max(list3))
print(list3.index(max(list3))+1)

4
2
28
36
50
1
81
85
3
85
8

- 5597번 과제 안 내신 분..?

X대학 M교수님은 프로그래밍 수업을 맡고 있다. 교실엔 학생이 30명이 있는데, 학생 명부엔 각 학생별로 1번부터 30번까지 출석번호가 붙어 있다.

교수님이 내준 특별과제를 28명이 제출했는데, 그 중에서 제출 안 한 학생 2명의 출석번호를 구하는 프로그램을 작성하시오.

In [ ]:
list4 = []
for i in range(28):
  n = int(input())
  list4.append(n)

list5 = []
for i in range(30):
  if (i+1) not in list4:
    list5.append(i+1)
list5.sort()
print(list5[0])
print(list5[1])

3
1
2
5
4
18
6
9
7
21
22
30
29
26
28
27
24
22
23
20
19
24
25
15
13
12
39
28
8
10

In [ ]:
import numpy as np
students = np.arange(1,31).tolist()
for i in range(28):
  n = int(input())
  students.remove(n)
print(min(students))
print(max(students))

1
2
3
4
5
6
7
8
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
9
10

- 3052번 나머지

두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [ ]:
set1 = set()
for i in range(10):
  n = int(input())
  set1.add(n%42)
print(len(set1))

39
40
41
42
43
44
82
83
84
85
6

- 1546번 평균

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

입력
첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

In [ ]:
n = int(input())
scores = list(map(int, input().split()))
print(sum(scores)/n * 100/max(scores))

3
40 80 60
75.0

- 8958번 OX퀴즈

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
for i in range(n):
  scores = []
  quiz = input()
  for i in range(len(quiz)):
    if quiz[i] == 'X':
      scores.append(0)
    elif i==0 or quiz[i-1] != 'O':
      scores.append(1)
    else:
      scores.append(scores[-1]+1)
  print(sum(scores))

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
n = int(input())
for i in range(n):
  score = 0
  tot_scores = 0
  quiz = input()
  for i in range(len(quiz)):
    if quiz[i] == 'X':
      score = 0
    else:
      score += 1
      tot_scores += score
  print(tot_scores)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

- 4344번 평균은 넘겠지

대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

- round(,3) 이용 시, 40.0% 로 표시
  -> '%.3f'로 형식지정자를 이용해야 40.000%로 표시됨.

- 리스트에서 조건에 맞는 값만 추출하기


```
list(filter(lambda x: 조건, 리스트))
```

In [ ]:
n = int(input())
for i in range(n):
    scores = list(map(int, input().split()))
    stu_num = scores[0]
    avg = (sum(scores) - stu_num)/stu_num
    up = 0.0
    for i in range(1, stu_num+1):
      if scores[i] > avg:
        up+=1
    print('%.3f%%' %(up/stu_num * 100))

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%

In [ ]:
n = int(input())
for i in range(n):
    scores = list(map(int, input().split()))
    stu_num = scores[0]
    del scores[0]
    avg = sum(scores)/stu_num
    up = len(list(filter(lambda x: x>avg, scores)))
    print('%.3f%%' %(up/stu_num * 100))

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%