<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/06_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/7

- 11654번 아스키코드

알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

```
ord() : 문자의 아스키 코드를 리턴하는 함수
chr(): 아스키 코드를 입력받아 문자로 변환하는 함수
```

In [ ]:
n = input()
print(ord(n))

A
65

- 11720	숫자의 합

첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

In [ ]:
n = int(input())
nums = input()
sum1 = 0
for i in range(n):
  sum1 += int(nums[i])
print(sum1)

5
54321
15

-  10809번 알파벳 찾기

알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.



```
리스트의 문자열 합치기: 구분자.join(리스트)
```

In [ ]:
ord('z') # a의 아스키코드

122

In [ ]:
s = input()
alpha_exist = [-1 for i in range(26)]
for i in range(len(s)):
  if alpha_exist[ord(s[i])-97] == -1:
    alpha_exist[ord(s[i])-97] = i
alpha_exist = list(map(str, alpha_exist))
alpha_exist = " ".join(alpha_exist)
print(alpha_exist)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1



```
문자열.find(찾을 문자) : 찾는 문자가 존재하면 index를 반환하고, 존재하지 않으면 -1 반환
```

In [ ]:
s = input()
alpha = list(range(ord('a'),ord('z')+1))  # a-z 아스키코드 범위
alpha_exist = []
for x in alpha : 
  alpha_exist.append(s.find(chr(x)))
alpha_exist = list(map(str, alpha_exist))
alpha_exist = " ".join(alpha_exist)
print(alpha_exist)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

- 2675번 문자열 반복

문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.

QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

In [ ]:
n = int(input())
for i in range(n):
  str_rep, s = input().split()
  for k in range(len(s)):
    print(s[k]*int(str_rep), end="")
  print("")

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
n = int(input())
for i in range(n):
  text = ""
  str_rep, s = input().split()
  for k in range(len(s)):
    text += s[k]*int(str_rep)
  print(text)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

- 1157번 단어 공부

알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

In [ ]:
s = input().upper()
set1 = list(set(list(s))) # 입력받은 문자열에 있는 문자 종류
count = 1
most_used = []
for i in set1:
  if s.count(i) > count:
    most_used.clear()
    count = s.count(i)
    most_used.append(i)
  elif s.count(i) == count:
    most_used.append(i)
  else:
    continue
if len(most_used)> 1:
  print("?")
else:
  print(most_used[0])

baaa
A

- 1152번 단어의 개수

영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 이를 구하는 프로그램을 작성하시오. 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.

In [ ]:
s = input().split()
print(len(s))

The Curious Case of Benjamin Button
6

- 2908번 상수

상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = input().split()
A = int(A[2] + A[1] + A[0])
B = int(B[2] + B[1] + B[0])
print(max(A,B))

221 231
132

- 5622번 다이얼

상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.



전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램을 작성하시오

In [ ]:
ord('A')

65

In [ ]:
print(ord('A')//3)
print(ord('B')//3)
print(ord('C')//3)

21
22
22

In [ ]:
print(ord('A')%3)
print(ord('B')%3)
print(ord('C')%3)

2
0
1

In [ ]:
print(ord('S')//3)
print(ord('T')//3)
print(ord('W')//3)

27
28
29

In [ ]:
s = input()
num = []
for word in s:
  q = ord(word)//3
  r = ord(word)%3
  if ('A'<=word and word<='R'):
    if r == 2:
      num.append(q-19)
    else:
      num.append(q-20)
  elif word == 'S':
    num.append(7)
  elif q == 28:
    num.append(8)
  elif q==29 or word=='Z':
    num.append(9)
  else:
    num.append(0)
if 0 in num:
  time = sum(num) + len(num) + 10
else:
  time = sum(num) + len(num)
print(time)

UNUCIC
36

In [ ]:
s = input()
num = []
for word in s:
  q = ord(word)//3
  r = ord(word)%3
  if ('A'<=word and word<='R'):
    if r == 2:
      num.append(q-19)
    else:
      num.append(q-20)
  elif word == 'S':
    num.append(7)
  elif q == 28:
    num.append(8)
  else:
    num.append(9)

time = sum(num) + len(num)
print(time)

UNUCIC
36

In [ ]:
s = input()
s_list = list(set(s))
time = 0
num_list = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
for word in s_list:
  for num in num_list:
    if word in num:
      time += (num_list.index(num)+3)*s.count(word)
print(time)

UNUCIC
36

In [ ]:
s = input()
time = 0
num_list = [ord('A'), ord('D'), ord('G'), ord('J'), ord('M'), ord('P'), ord('T'), ord('W')]
for word in s:
  for i in num_list:
    if ord(word) < i:
      time += num_list.index(i)+2
      break
    elif ord(word) >= num_list[-1]:
      time += 10
      break
      
print(time)

UNUCIC
36

- 2941번 크로아티아 알파벳

예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

In [ ]:
word_list = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]
s = input()
n = len(s)
count = 0
act_count = 0
for word in word_list:
  if word in s:
    count += s.count(word)
    act_count += (len(word))*(s.count(word))
    s = s.replace(word, " ") # 횟수를 이미 더한 문자는 공백으로 대체
fin_count = n - act_count + count
print(fin_count)

dz=ak
3

In [ ]:
# 더 간단한 코드 
word_list = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]
s = input()
for word in word_list:
  s = s.replace(word, "*")
print(len(s))

dz=ak
3

- 1316번 그룹 단어 체커

그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.

단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.

In [ ]:
"abc".find('b')

1

In [ ]:
def group_word(s):
  word = list(set(s))
  for w in word:
    if s.count(w) != 1:
      idx = s.find(w)
      for i in range(s.count(w)):
        if s[idx+i] != w:
          return 0
  return 1

n = int(input())
sum = 0
for i in range(n):
  s = input()
  sum += group_word(s)
print(sum)

1
z
1