<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/08_%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%99_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/10

- 1978번 소수 찾기

주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
num = list(map(int, input().split()))
count = 0
for i in num:
  j = 2
  while j< i:
    if i % j == 0:
      break
    j+=1
  if j == i:
    count += 1
print(count)

5
2 11 13 77 19
4

- 2581번 소수

자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

In [ ]:
sosu(2)

True

In [ ]:
def sosu(n):
  error = 0
  if n == 1:
    return False
  for j in range(2,n):
    if n %j == 0:
      error = 1
      break
  if error == 1:
    return False
  return True
sosu_list = []
m = int(input())
n = int(input())
for i in range(m,n+1):
  if sosu(i):
    sosu_list.append(i)
if (len(sosu_list) == 0):
  print(-1)
else:
  print(sum(sosu_list))
  print(min(sosu_list))

60
100
620
61

- 11653번 소인수분해

정수 N이 주어졌을 때, 소인수분해하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
soinsu_list = []
for i in range(2,n+1):
  while n % i == 0:
    soinsu_list.append(i)
    n = n//i
    if n == 1:
      break
soinsu_list.sort()
for i in soinsu_list:
  print(i)

1

- 1929번 소수 구하기

M이상 N이하의 소수를 모두 출력하는 프로그램을 작성하시오.

- 시간 초과 해결 >> 소수인지 검사할 때, 제곱근까지만 검사하면 됨!!

In [ ]:
def sosu(n):
  if n == 1:
    return False
  if n == 2:
    return True
  j = 2
  while j<= (int(i**0.5)+1):
    if n % j == 0:
      return False
    j += 1
  if j == int(i**0.5)+2:
    return True
m, n = map(int,input().split())
for i in range(m,n+1):
  if sosu(i):
    print(i)

1 30
2
3
5
7
11
13
17
19
23
29

In [ ]:
m, n = map(int,input().split())
for i in range(m,n+1):
  if i == 1:
    continue
  for j in range(2, int(i**0.5)+1):
    if i %j == 0:
      break
  else:
    print(i)

1 16
2
3
5
7
11
13

- 4948번 베르트랑 공준

베르트랑 공준은 임의의 자연수 n에 대하여, n보다 크고, 2n보다 작거나 같은 소수는 적어도 하나 존재한다는 내용을 담고 있다.

이 명제는 조제프 베르트랑이 1845년에 추측했고, 파프누티 체비쇼프가 1850년에 증명했다.

예를 들어, 10보다 크고, 20보다 작거나 같은 소수는 4개가 있다. (11, 13, 17, 19) 또, 14보다 크고, 28보다 작거나 같은 소수는 3개가 있다. (17,19, 23)

자연수 n이 주어졌을 때, n보다 크고, 2n보다 작거나 같은 소수의 개수를 구하는 프로그램을 작성하시오.

In [ ]:
# 시간 초과
while 1:
  n = int(input())
  count = 0
  if n == 0:
    break
  if n == 1:
    print(1)
    continue
  for i in range(n+1, 2*n+1):
    error = 0
    for j in range(2,int(i**0.5)+1):
      if i % j == 0:
        error = 1
        break
    if error == 0:
      count +=1
  print(count)

1
1
10
4
13
3
100
21
1000
135
10000
1033
100000
8392
0

- 시간 초과 해결 >> 입력받은 n마다 소수 개수를 파악하지 않고 소수 리스트에 미리 소수인지 아닌지 판별해놓기

In [ ]:
prime_list = [False, True]
for i in range(3,123457*2+1):
  error = 0
  for j in range(2,int(i**0.5)+1):
    if i % j == 0:
      error = 1
      break
  if error == 0:
    prime_list.append(True)
  else:
    prime_list.append(False)
while 1:
  n = int(input())
  count = 0
  if n == 0:
    break
  for i in range(n+1,2*n+1):
    if prime_list[i-1]:
      count +=1 
  print(count)

- 9020번 골드바흐의 추측

1보다 큰 자연수 중에서  1과 자기 자신을 제외한 약수가 없는 자연수를 소수라고 한다. 예를 들어, 5는 1과 5를 제외한 약수가 없기 때문에 소수이다. 하지만, 6은 6 = 2 × 3 이기 때문에 소수가 아니다.

골드바흐의 추측은 유명한 정수론의 미해결 문제로, 2보다 큰 모든 짝수는 두 소수의 합으로 나타낼 수 있다는 것이다. 이러한 수를 골드바흐 수라고 한다. 또, 짝수를 두 소수의 합으로 나타내는 표현을 그 수의 골드바흐 파티션이라고 한다. 예를 들면, 4 = 2 + 2, 6 = 3 + 3, 8 = 3 + 5, 10 = 5 + 5, 12 = 5 + 7, 14 = 3 + 11, 14 = 7 + 7이다. 10000보다 작거나 같은 모든 짝수 n에 대한 골드바흐 파티션은 존재한다.

2보다 큰 짝수 n이 주어졌을 때, n의 골드바흐 파티션을 출력하는 프로그램을 작성하시오. 만약 가능한 n의 골드바흐 파티션이 여러 가지인 경우에는 두 소수의 차이가 가장 작은 것을 출력한다.

In [ ]:
prime_list = [False,False, True]
for i in range(3,10000):
  error = 0
  for j in range(2,int(i**0.5)+1):
    if i % j == 0:
      error = 1
      break
  if error == 0:
    prime_list.append(True)
  else:
    prime_list.append(False)
n = int(input())
for i in range(n):
  even = int(input())
  for i in range(even//2,0,-1):
    if prime_list[i] & prime_list[even-i]:
      print(i,even-i)
      break

3
8
3 5
10
5 5
16
5 11