<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/15_%EC%A0%95%EC%88%98%EB%A1%A0_%EB%B0%8F_%EC%A1%B0%ED%95%A9%EB%A1%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/18

### 5086	 배수와 약수

4 × 3 = 12이다.

이 식을 통해 다음과 같은 사실을 알 수 있다.

3은 12의 약수이고, 12는 3의 배수이다.

4도 12의 약수이고, 12는 4의 배수이다.

두 수가 주어졌을 때, 다음 3가지 중 어떤 관계인지 구하는 프로그램을 작성하시오.

첫 번째 숫자가 두 번째 숫자의 약수이다.
첫 번째 숫자가 두 번째 숫자의 배수이다.
첫 번째 숫자가 두 번째 숫자의 약수와 배수 모두 아니다.

In [1]:
while 1:
  a,b = map(int, input().split())
  if a == 0 and b == 0:
    break
  if a % b == 0:
    print("multiple")
  elif b % a == 0:
    print("factor")
  else:
    print("neither")

8 16
factor
32 4
multiple
17 5
neither
0 0

### 1037	 약수

양수 A가 N의 진짜 약수가 되려면, N이 A의 배수이고, A가 1과 N이 아니어야 한다. 어떤 수 N의 진짜 약수가 모두 주어질 때, N을 구하는 프로그램을 작성하시오.

In [6]:
n = int(input())
list1 = list(map(int, input().split()))
list1.sort()
print(list1[0]*list1[-1])

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192

In [7]:
n = int(input())
list1 = list(map(int, input().split()))
print(min(list1)*max(list1))

1
2
4

### 2609	 최대공약수와 최소공배수

두 개의 자연수를 입력받아 최대 공약수와 최소 공배수를 출력하는 프로그램을 작성하시오.

In [15]:
a,b = map(int, input().split())
gcd = 1
for i in range(2,min(a,b)+1):
  if a % i == 0 and b % i == 0:
    gcd = i
print(gcd)
print(a*b//gcd)

24 18
6
72

- 파이썬 math 함수 이용) **math.gcd**(a,b) / **math.lcm**(a,b)



참고: https://velog.io/@junyp1/%EB%B0%B1%EC%A4%80-2609-Python-%EC%B5%9C%EB%8C%80%EA%B3%B5%EC%95%BD%EC%88%98%EC%99%80-%EC%B5%9C%EC%86%8C%EA%B3%B5%EB%B0%B0%EC%88%98

In [11]:
import math
a,b = map(int, input().split())
print(math.gcd(a,b))
print(math.lcm(a,b)) # lcm 함수는 파이썬 3.9버전 이상부터 사용 가능

24 18
6

AttributeError: ignored

In [13]:
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

- 유클리드 호제법 이용

  ex. gcd(24, 18) = gcd(18, 6) = gcd(6, 0)

In [14]:
a,b = map(int, input().split())
def gcd(a,b):
  while b>0:
    a,b = b,a%b
  return a

def lcm(a,b):
  return a*b // gcd(a,b)
print(gcd(a,b))
print(lcm(a,b))

24 18
6
72

### 1934	 최소공배수

두 자연수 A와 B에 대해서, A의 배수이면서 B의 배수인 자연수를 A와 B의 공배수라고 한다. 이런 공배수 중에서 가장 작은 수를 최소공배수라고 한다. 예를 들어, 6과 15의 공배수는 30, 60, 90등이 있으며, 최소 공배수는 30이다.

두 자연수 A와 B가 주어졌을 때, A와 B의 최소공배수를 구하는 프로그램을 작성하시오.

In [16]:
import math
n = int(input())
for _ in range(n):
  a,b = map(int, input().split())
  print(a*b//math.gcd(a,b))

3
1 45000
45000
6 10
30
13 17
221

In [25]:
n = int(input())
for _ in range(n):
  a,b = map(int, input().split())
  c,d = a,b
  while d>0:
    c,d = d, c%d
  print(a*b//c)

3
1 45000
45000
6 10
30
13 17
221

### 2981	 검문

트럭을 타고 이동하던 상근이는 경찰의 검문을 받게 되었다. 경찰은 상근이가 운반하던 화물을 하나하나 모두 확인할 것이기 때문에, 검문하는데 엄청나게 오랜 시간이 걸린다.

상근이는 시간을 때우기 위해서 수학 게임을 하기로 했다.

먼저 근처에 보이는 숫자 N개를 종이에 적는다. 그 다음, 종이에 적은 수를 M으로 나누었을 때, 나머지가 모두 같게 되는 M을 모두 찾으려고 한다. M은 1보다 커야 한다.

N개의 수가 주어졌을 때, 가능한 M을 모두 찾는 프로그램을 작성하시오.

나머지가 모두 동일한 수들

a = m*a` + k

b = m*b` + k

c = m*c` + k

=> a,b,c의 차는 모두 m의 배수

In [29]:
# 오류
n = int(input())
list1 = []
for _ in range(n):
  list1.append(int(input()))
list1.sort()
diff = list1[-1]
for i in range(n-1):
  if list1[i+1]-list1[i] < diff:
    diff = list1[i+1]-list1[i]
for i in range(2,diff+1):
  if diff % i == 0:
    print(i, end=" ")

3
21
33
45
2 3 4 6 12

### 3036	 링

### 11050	 이항 계수 1

### 	11051	 이항 계수 2

### 1010	 다리 놓기

### 	9375	 패션왕 신해빈

### 	1676	 팩토리얼 0의 개수

### 2004	 조합 0의 개수