<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/15_%EC%A0%95%EC%88%98%EB%A1%A0_%EB%B0%8F_%EC%A1%B0%ED%95%A9%EB%A1%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/18

### 5086	 배수와 약수

4 × 3 = 12이다.

이 식을 통해 다음과 같은 사실을 알 수 있다.

3은 12의 약수이고, 12는 3의 배수이다.

4도 12의 약수이고, 12는 4의 배수이다.

두 수가 주어졌을 때, 다음 3가지 중 어떤 관계인지 구하는 프로그램을 작성하시오.

첫 번째 숫자가 두 번째 숫자의 약수이다.
첫 번째 숫자가 두 번째 숫자의 배수이다.
첫 번째 숫자가 두 번째 숫자의 약수와 배수 모두 아니다.

In [ ]:
while 1:
  a,b = map(int, input().split())
  if a == 0 and b == 0:
    break
  if a % b == 0:
    print("multiple")
  elif b % a == 0:
    print("factor")
  else:
    print("neither")

8 16
factor
32 4
multiple
17 5
neither
0 0

### 1037	 약수

양수 A가 N의 진짜 약수가 되려면, N이 A의 배수이고, A가 1과 N이 아니어야 한다. 어떤 수 N의 진짜 약수가 모두 주어질 때, N을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
list1 = list(map(int, input().split()))
list1.sort()
print(list1[0]*list1[-1])

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192

In [ ]:
n = int(input())
list1 = list(map(int, input().split()))
print(min(list1)*max(list1))

1
2
4

### 2609	 최대공약수와 최소공배수

두 개의 자연수를 입력받아 최대 공약수와 최소 공배수를 출력하는 프로그램을 작성하시오.

In [ ]:
a,b = map(int, input().split())
gcd = 1
for i in range(2,min(a,b)+1):
  if a % i == 0 and b % i == 0:
    gcd = i
print(gcd)
print(a*b//gcd)

24 18
6
72

- 파이썬 math 함수 이용) **math.gcd**(a,b) / **math.lcm**(a,b)



참고: https://velog.io/@junyp1/%EB%B0%B1%EC%A4%80-2609-Python-%EC%B5%9C%EB%8C%80%EA%B3%B5%EC%95%BD%EC%88%98%EC%99%80-%EC%B5%9C%EC%86%8C%EA%B3%B5%EB%B0%B0%EC%88%98

In [ ]:
import math
a,b = map(int, input().split())
print(math.gcd(a,b))
print(math.lcm(a,b)) # lcm 함수는 파이썬 3.9버전 이상부터 사용 가능

24 18
6

AttributeError: ignored

In [ ]:
import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

- 유클리드 호제법 이용

  ex. gcd(24, 18) = gcd(18, 6) = gcd(6, 0)

In [ ]:
a,b = map(int, input().split())
def gcd(a,b):
  while b>0:
    a,b = b,a%b
  return a

def lcm(a,b):
  return a*b // gcd(a,b)
print(gcd(a,b))
print(lcm(a,b))

24 18
6
72

### 1934	 최소공배수

두 자연수 A와 B에 대해서, A의 배수이면서 B의 배수인 자연수를 A와 B의 공배수라고 한다. 이런 공배수 중에서 가장 작은 수를 최소공배수라고 한다. 예를 들어, 6과 15의 공배수는 30, 60, 90등이 있으며, 최소 공배수는 30이다.

두 자연수 A와 B가 주어졌을 때, A와 B의 최소공배수를 구하는 프로그램을 작성하시오.

In [ ]:
import math
n = int(input())
for _ in range(n):
  a,b = map(int, input().split())
  print(a*b//math.gcd(a,b))

3
1 45000
45000
6 10
30
13 17
221

In [ ]:
n = int(input())
for _ in range(n):
  a,b = map(int, input().split())
  c,d = a,b
  while d>0:
    c,d = d, c%d
  print(a*b//c)

3
1 45000
45000
6 10
30
13 17
221

### 2981	 검문

트럭을 타고 이동하던 상근이는 경찰의 검문을 받게 되었다. 경찰은 상근이가 운반하던 화물을 하나하나 모두 확인할 것이기 때문에, 검문하는데 엄청나게 오랜 시간이 걸린다.

상근이는 시간을 때우기 위해서 수학 게임을 하기로 했다.

먼저 근처에 보이는 숫자 N개를 종이에 적는다. 그 다음, 종이에 적은 수를 M으로 나누었을 때, 나머지가 모두 같게 되는 M을 모두 찾으려고 한다. M은 1보다 커야 한다.

N개의 수가 주어졌을 때, 가능한 M을 모두 찾는 프로그램을 작성하시오.

나머지가 모두 동일한 수들

a = m*a` + k

b = m*b` + k

c = m*c` + k

=> a,b,c의 차는 모두 m의 배수

In [ ]:
# 시간초과
n = int(input())
list1 = []
for _ in range(n):
  list1.append(int(input()))
list1.sort()
diff = set()
for i in range(n-1):
  diff.add(list1[i+1]-list1[i])
mini = min(diff)
for i in range(2,mini+1):
  q = []
  for val in list1: 
    q.append(val % i)
  if len(set(q)) == 1:
    print(i, end=" ")

5
5
17
23
14
83
3

In [2]:
# 각 숫자들의 차의 최대공약수를 찾아 최대공약수의 약수를 구함
import math
n = int(input())
list1 = []
for _ in range(n):
  list1.append(int(input()))
list1.sort()
diff = list1[1]-list1[0]
for i in range(1,n-1):
  diff = math.gcd(diff,list1[i+1]-list1[i]) # 각 숫자들의 차의 최대공약수
for i in range(2,diff+1):
  if diff % i == 0:
    print(i, end=" ")

3
6
34
38
2 4

### 3036	 링

상근이는 창고에서 링 N개를 발견했다. 상근이는 각각의 링이 앞에 있는 링과 뒤에 있는 링과 접하도록 바닥에 내려놓았다. 



상근이는 첫 번째 링을 돌리기 시작했고, 나머지 링도 같이 돌아간다는 사실을 발견했다. 나머지 링은 첫 번째 링 보다 빠르게 돌아가기도 했고, 느리게 돌아가기도 했다. 이렇게 링을 돌리다 보니 첫 번째 링을 한 바퀴 돌리면, 나머지 링은 몇 바퀴 도는지 궁금해졌다.

링의 반지름이 주어진다. 이때, 첫 번째 링을 한 바퀴 돌리면, 나머지 링은 몇 바퀴 돌아가는지 구하는 프로그램을 작성하시오.

- 기약분수: Fraction(a,b)

In [ ]:
from fractions import Fraction
n = int(input())
rings = list(map(int, input().split()))
for i in range(1,n):
  a = Fraction(rings[0],rings[i])
  if a == int(a):
    print(str(a)+"/"+'1')
  else:
    print(a)

4
12 3 8 4
4/1
3/2
3/1

- 기약분수는 분자와 분모에 분자, 분모의 최대공약수로 나누면 만들어짐

참고: https://jinho-study.tistory.com/128

In [ ]:
def gcd(a,b):
  while (b!=0):
    a,b = b, a%b
    return a
n = int(input())
rings = list(map(int, input().split()))
for i in range(1,n):
  g = gcd(rings[0], rings[i])
  print("{0}/{1}".format(rings[0]//g, rings[i]//g))

4
12 3 8 4
4/1
1/1
3/1

### 11050	 이항 계수 1

자연수 
$N$과 정수 
$K$가 주어졌을 때 이항 계수 
$binom{N}{K}$를 구하는 프로그램을 작성하시오.

nCk = n(n-1)*...*(n-k+1) / k!

nCk = nC(n-k)

In [ ]:
n,k = map(int, input().split())
k = min(k,n-k)
c = 1
for i in range(k):
  c *=(n-i)
for j in range(k):
  c//=(j+1)
print(c)

5 2
10

nCk = n!/k!(n-k)!

In [ ]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n*factorial(n-1)
n,k = map(int, input().split())
print(factorial(n)//(factorial(k)*factorial(n-k)))

5 2
10

### 	11051	 이항 계수 2

자연수 
\(N\)과 정수 
\(K\)가 주어졌을 때 이항 계수 
\(\binom{N}{K}\)를 10,007로 나눈 나머지를 구하는 프로그램을 작성하시오.

In [ ]:
n,k = map(int, input().split())
k = min(k,n-k)
c = 1
for i in range(k):
  c *=(n-i)
for j in range(k):
  c//=(j+1)
print(c%10007)

5 2
10

- 파스칼의 삼각형을 이용한 DP 풀이

참고: https://pacific-ocean.tistory.com/207

**동적 계획법(Dynamic Programming, DP)**

- 하나의 큰 문제를 여러 개의 작은 문제로 나누어서 그 결과를 저장하여 다시 큰 문제를 해결할 때 사용하는 것

- 일반적인 재귀는 동일한 작은 문제들이 여러 번 반복 계산되어 비효율적임.

- 부분 문제 반복과 최적 부분 구조를 가지고 있는 알고리즘을 효율적으로 품.

In [ ]:
n,k = map(int, input().split())
dp = [[0]*1 for _ in range(1001)]
dp[1].append(1) # 첫번째 줄에 1
for i in range(2,1001):
  for j in range(1,i+1): # i번째 줄
    if j==1: 
      dp[i].append(1) # 첫번째 숫자는 1
    elif j==i:
      dp[i].append(1) # 마지막 숫자는 1
    else:
      dp[i].append(dp[i-1][j-1] + dp[i-1][j])
print(dp[n+1][k+1]%10007)

5 2
10

### 1010	 다리 놓기

재원이는 한 도시의 시장이 되었다. 이 도시에는 도시를 동쪽과 서쪽으로 나누는 큰 일직선 모양의 강이 흐르고 있다. 하지만 재원이는 다리가 없어서 시민들이 강을 건너는데 큰 불편을 겪고 있음을 알고 다리를 짓기로 결심하였다. 강 주변에서 다리를 짓기에 적합한 곳을 사이트라고 한다. 재원이는 강 주변을 면밀히 조사해 본 결과 강의 서쪽에는 N개의 사이트가 있고 동쪽에는 M개의 사이트가 있다는 것을 알았다. (N ≤ M)

재원이는 서쪽의 사이트와 동쪽의 사이트를 다리로 연결하려고 한다. (이때 한 사이트에는 최대 한 개의 다리만 연결될 수 있다.) 재원이는 다리를 최대한 많이 지으려고 하기 때문에 서쪽의 사이트 개수만큼 (N개) 다리를 지으려고 한다. 다리끼리는 서로 겹쳐질 수 없다고 할 때 다리를 지을 수 있는 경우의 수를 구하는 프로그램을 작성하라.

In [ ]:
t = int(input())
for _ in range(t): 
  n,m = map(int, input().split()) # mCn
  n = min(n,m-n)
  c = 1
  for i in range(n):
    c *=(m-i)
  for j in range(n):
    c//=(j+1)
  print(c)

3
2 2
1
1 5
5
13 29
67863915

### 	9375	 패션왕 신해빈

해빈이는 패션에 매우 민감해서 한번 입었던 옷들의 조합을 절대 다시 입지 않는다. 예를 들어 오늘 해빈이가 안경, 코트, 상의, 신발을 입었다면, 다음날은 바지를 추가로 입거나 안경대신 렌즈를 착용하거나 해야한다. 해빈이가 가진 의상들이 주어졌을때 과연 해빈이는 알몸이 아닌 상태로 며칠동안 밖에 돌아다닐 수 있을까?

In [ ]:
t = int(input())
for _ in range(t):
  n = int(input())
  clothes = []
  for _ in range(n):
    clothes.append(input().split()[1])
  cloth = set(clothes)
  cnt = []
  for cl in cloth:
    cnt.append(clothes.count(cl))
  ans = 1
  for i in range(len(cnt)):
    ans *= (cnt[i]+1)
  print(ans-1)

2
3
hat headgear
sunglasses eyewear
turban headgear
5
3
mask face
sunglasses face
makeup face
3

- dictionary 이용

참고: https://hongcoding.tistory.com/60

In [ ]:
t = int(input())
for _ in range(t):
  n = int(input())
  clothes = {}
  for _ in range(n):
    cloth = list(input().split())
    if cloth[1] in clothes:
      clothes[cloth[1]].append(cloth[0])
    else:
      clothes[cloth[1]] = [cloth[0]]
  cnt = 1
  for i in clothes:
    cnt *= (len(clothes[i])+1)
  print(cnt-1)

2
3
hat headgear
sunglasses eyewear
turban headgear
5
3
mask face
sunglasses face
makeup face
3

- 파이썬의 Counter 모듈 이용

In [ ]:
from collections import Counter
t = int(input())
for _ in range(t):
  n = int(input())
  clothes = []
  for _ in range(n):
    clothes.append(input().split()[1])
  clothes_counter = Counter(clothes) # dict 형식
  cnt = 1
  for i in clothes_counter:
    cnt*=(clothes_counter[i]+1)
  print(cnt-1)

2
3
hat headgear
sunglasses eyewear
turban headgear
5
3
mask face
sunglasses face
makeup face
3

In [ ]:
clothes_counter

Counter({'face': 3})

### 	1676	 팩토리얼 0의 개수

N!에서 뒤에서부터 처음 0이 아닌 숫자가 나올 때까지 0의 개수를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
num=1
for i in range(2,n+1):
  num *= i
num = str(num)
for i in range(len(num)):
  if num[len(num)-i-1] != '0':
    break
print(i)

3
0

In [ ]:
n = int(input())
num=1
for i in range(2,n+1):
  num *= i
cnt = 0
while 1:
  if num % 10 == 0: # 끝자리 0의 개수: 10으로 몇 번 나누어 떨어지는가
    cnt +=1
    num //= 10
  else:
    break
print(cnt)

10
2

- factorial 함수 불러오기

**from math import factorial**

참고: https://mococoding.tistory.com/14

In [ ]:
from math import factorial
n = int(input())
num = str(factorial(n))
cnt = 0
for i in num[::-1]:
  if i!= '0':
    break
  cnt += 1
print(cnt)

3
0

- 5로 나누어 떨어지는 수의 개수 구하기

n!에서 10으로 나누어 떨어짐 => n!에서 소인수 2의 개수와 5의 개수 찾기 (but 2의 개수 >>> 5의 개수)

n이하의 수에서 소인수 5의 개수 찾기

n이하의 수 중 5로 나누어 떨어지는 수 + n이하의 수 중 25로 나누어 떨어지는 수 + ...

=> factorial을 계산할 필요가 없어 효율적

In [ ]:
n = int(input())
def five_count(n):
  cnt = 0
  while n != 0:
    n //= 5
    cnt += n
  return cnt
print(five_count(n))

10
2

In [ ]:
n = int(input())
print(n//5 + n//25 + n//125)

10
2

### 2004	 조합 0의 개수

 
$n \choose m$의 끝자리 
$0$의 개수를 출력하는 프로그램을 작성하시오.

In [ ]:
# 시간초과
n,m = map(int, input().split())
m = min(m, n-m)
val = 1
for i in range(m):
  val *= (n-i)
for j in range(2,m+1):
  val //= j
for i in range(len(str(val))):
  if str(val)[len(str(val))-i-1] != '0':
    break
print(i)

25 12
2

In [ ]:
# 2, 5의 개수 세기
def countnum(n,d):
  cnt = 0
  while n>0:
    cnt += n//d
    n//=d
  return cnt
n,m = map(int, input().split())
print(min(countnum(n,5)-countnum(m,5)-countnum(n-m,5), countnum(n,2)-countnum(m,2)-countnum(n-m,2)))

25 12
2