<a href="https://colab.research.google.com/github/dahlia52/BAEKJOON/blob/main/18_%EB%88%84%EC%A0%81_%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.acmicpc.net/step/48

### 11659	 구간 합 구하기 4

수 N개가 주어졌을 때, i번째 수부터 j번째 수까지 합을 구하는 프로그램을 작성하시오.

In [ ]:
# 시간 초과
n,m = map(int, input().split())
list1 = list(map(int, input().split()))
for _ in range(m):
  a,b = map(int, input().split())
  print(sum(list1[a-1:b]))

5 3
5 4 3 2 1
1 3
12
2 4
9
5 5
1

In [ ]:
n,m = map(int, input().split())
list1 = list(map(int, input().split()))
sum1 = [0]
for i in list1:
  sum1.append(sum1[-1]+i) # 누적합 저장
for _ in range(m):
  a,b = map(int, input().split())
  print(sum1[b]-sum1[a-1])

5 3
5 4 3 2 1
1 3
12
2 4
9
5 5
1

In [ ]:
import sys
n,m = map(int, input().split())
list1 = list(map(int, sys.stdin.readline().split()))
sum1 = [0]
for i in list1:
  sum1.append(sum1[-1]+i)
for _ in range(m):
  a,b = map(int, sys.stdin.readline().split())
  print(sum1[b]-sum1[a-1])

### 2559	 수열

매일 아침 9시에 학교에서 측정한 온도가 어떤 정수의 수열로 주어졌을 때, 연속적인 며칠 동안의 온도의 합이 가장 큰 값을 알아보고자 한다.

예를 들어, 아래와 같이 10일 간의 온도가 주어졌을 때, 

3 -2 -4 -9 0 3 7 13 8 -3

모든 연속적인 이틀간의 온도의 합은 아래와 같다.



이때, 온도의 합이 가장 큰 값은 21이다. 

또 다른 예로 위와 같은 온도가 주어졌을 때, 모든 연속적인 5일 간의 온도의 합은 아래와 같으며, 



이때, 온도의 합이 가장 큰 값은 31이다.

매일 측정한 온도가 정수의 수열로 주어졌을 때, 연속적인 며칠 동안의 온도의 합이 가장 큰 값을 계산하는 프로그램을 작성하시오.

In [ ]:
n,k = map(int, input().split())
temp = list(map(int, input().split()))
curtemp = [0] 
for i in range(n):
  curtemp.append(curtemp[-1]+temp[i]) # 누적합 (Sn)
maxi = curtemp[k]-curtemp[0] # 초기값
for i in range(1,n-k+2): # curtemp 리스트 길이가 n+1
  if maxi < curtemp[i+k-1]-curtemp[i-1]:
    maxi = curtemp[i+k-1] - curtemp[i-1]
print(maxi)

10 2
3 -2 -4 -9 0 3 7 13 8 -3
21

### 16139	 인간-컴퓨터 상호작용

승재는 인간-컴퓨터 상호작용에서 생체공학 설계를 공부하다가 키보드 자판이 실용적인지 궁금해졌다. 이를 알아보기 위해 승재는 다음과 같은 생각을 했다. 

'문자열에서 특정 알파벳이 몇 번 나타나는지 알아봐서 자주 나타나는 알파벳이 중지나 검지 위치에 오는 알파벳인지 확인하면 실용적인지 확인할 수 있을 것이다.'

승재를 도와 특정 문자열 
$S$, 특정 알파벳 
$\alpha$와 문자열의 구간 
$[l,r]$이 주어지면 
$S$의 
$l$번째 문자부터 
$r$번째 문자 사이에 
$\alpha$가 몇 번 나타나는지 구하는 프로그램을 작성하여라. 승재는 문자열의 문자는 
$0$번째부터 세며, 
$l$번째와 
$r$번째 문자를 포함해서 생각한다. 주의할 점은 승재는 호기심이 많기에 (통계적으로 크게 무의미하지만) 같은 문자열을 두고 질문을 
$q$번 할 것이다.

In [ ]:
# 50점 (부분성공)
s = input()
n = int(input())
for _ in range(n):
  ch, a, b = input().split()
  a,b = int(a), int(b)
  print(s[a:b+1].count(ch))

seungjaehwang
4
a 0 5
0
a 0 6
1
a 6 10
2
a 7 10
1

In [ ]:
# 50점 (부분성공)
s = input()
n = int(input())
cnt = {}
for i in set(s):
  cnt[i] = list(s[j] == i for j in range(len(s))) # dictionary에 문자별로 포함여부 저장
for _ in range(n):
  ch, a, b = input().split()
  try:
    print(sum(cnt[ch][int(a):int(b)+1]))
  except:
    print(0)

seungjaehwang
4
a 0 5
0
a 0 6
1
a 6 10
2
a 7 10
1

In [ ]:
# 50점 (부분성공)
s = input()
n = int(input())
cnt = {}
for i in set(s): 
  cnt[i] = [0]
  for j in range(len(s)): # dictionary에 문자별로 누적 합 저장
    cnt[i].append((s[j] == i)+cnt[i][-1])
for _ in range(n):
  ch, a, b = input().split()
  try:
    print(cnt[ch][int(b)+1] - cnt[ch][int(a)])
  except:
    print(0)

seungjaehwang
4
a 0 5
0
a 0 6
1
a 6 10
2
a 7 10
1

In [ ]:
# 위랑 같은 코드인데 sys.stdin.readline으로 돌리니 100점
import sys
s = input()
n = int(input())
cnt = {}
for i in set(s): 
  cnt[i] = [0]
  for j in range(len(s)): # dictionary에 문자별로 누적 합 저장
    cnt[i].append((s[j] == i)+cnt[i][-1])
for _ in range(n):
  ch, a, b = sys.stdin.readline().split()
  try:
    print(cnt[ch][int(b)+1] - cnt[ch][int(a)])
  except:
    print(0)

### 10986	 나머지 합

수 N개 A1, A2, ..., AN이 주어진다. 이때, 연속된 부분 구간의 합이 M으로 나누어 떨어지는 구간의 개수를 구하는 프로그램을 작성하시오.

즉, Ai + ... + Aj (i ≤ j) 의 합이 M으로 나누어 떨어지는 (i, j) 쌍의 개수를 구해야 한다.

In [ ]:
# 시간 초과
n,m = map(int, input().split())
an = list(map(int, input().split()))
sn = [0]
for i in range(n):
  sn.append(sn[-1]+an[i]) # 누적합
cnt = 0
for j in range(1,n+1):
  for i in range(1,j+1):
    if (sn[j] - sn[i-1]) % m == 0:
      cnt += 1
print(cnt)

5 3
1 2 3 1 2
7

- 누적합을 m으로 나누었을 때의 나머지 변화로 간주

- 누적합 차가 0이면 나누어 떨어짐 -> 누적합이 같은 것들간의 조합

In [4]:
# 시간초과
n,m = map(int, input().split())
an = list(map(int, input().split()))
sn = [0]
for i in range(n):
  sn.append((sn[-1] + an[i])% m) # 나머지 누적합 
cnt = 0
for i in set(sn):
  comb = sn.count(i)
  if comb >= 2:
    cnt += comb*(comb-1)//2 # combC2
print(cnt)

5 3
1 2 3 1 2
7

- dict형태로 누적합 개수 한번에 세기

In [11]:
# 맞음
n,m = map(int, input().split())
an = list(map(int, input().split()))
cursum = 0
sum_dict = {0:1} # 맨 처음에는 누적합이 0
for i in range(n):
  cursum = (cursum + an[i])% m # 나머지 누적합
  if cursum not in sum_dict:
    sum_dict[cursum] = 1
  else:
    sum_dict[cursum] += 1
cnt = 0
for i in sum_dict:
  comb = sum_dict[i]
  if comb >= 2:
    cnt += comb*(comb-1)//2 # combC2
print(cnt)

5 3
1 2 3 1 2
7

- 리스트에서 index 이용

참고: https://only-wanna.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EB%B0%B1%EC%A4%80-10986%EB%B2%88-%EB%82%98%EB%A8%B8%EC%A7%80-%ED%95%A9

In [17]:
n,m = map(int, input().split())
an = list(map(int, input().split()))
cursum = 0
sum_list = [0 for _ in range(m)] # 가능한 모든 나머지 리스트
sum_list[0] = 1
for i in range(n):
  cursum += an[i]
  sum_list[cursum%m]+=1
cnt = 0
for i in sum_list:
  cnt += i*(i-1)//2
print(cnt)

5 3
1 2 3 1 2
7

### 11660	 구간 합 구하기 5

N×N개의 수가 N×N 크기의 표에 채워져 있다. (x1, y1)부터 (x2, y2)까지 합을 구하는 프로그램을 작성하시오. (x, y)는 x행 y열을 의미한다.

예를 들어, N = 4이고, 표가 아래와 같이 채워져 있는 경우를 살펴보자.

1	2	3	4
2	3	4	5
3	4	5	6
4	5	6	7
여기서 (2, 2)부터 (3, 4)까지 합을 구하면 3+4+5+4+5+6 = 27이고, (4, 4)부터 (4, 4)까지 합을 구하면 7이다.

표에 채워져 있는 수와 합을 구하는 연산이 주어졌을 때, 이를 처리하는 프로그램을 작성하시오.

### 25682	 체스판 다시 칠하기 2